.textArea {
  height: calc(12 * var(--mini-unit));
}

.subTitle {
  font-size: var(--font-size-4);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  line-height: var(--line-height-title);
  color: $suspend-modal-text;
  margin: 0;
}
