.root {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: var(--line-height-reset);
}

.success {
  color: var(--palette-success-main);
}

.warning {
  color: var(--palette-error-main);
  font-weight: var(--font-weight-primary-semi-bold);
}

.error {
  color: var(--palette-error-darkest);
  font-weight: var(--font-weight-primary-semi-bold);
}
