.icon {
  margin-right: var(--spacing-1);
}

.username {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-3);
  line-height: var(--line-height-5);

  color: var(--colors-mono-500);

  margin-left: var(--spacing-1);
}

.removed {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-1);

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
  line-height: var(--line-height-5);

  color: var(--colors-mono-500);

  background-color: var(--colors-grey-100);
  border-radius: var(--round-corners);
}

.stopIgnoringButton {
  &:not(.disabled),
  &:not(:disabled) {
    color: var(--colors-stream-blue-500);
  }

  &:hover, &.mouseHover {
    color: var(--colors-stream-blue-600);
  }
  &:active, &.active {
    color: var(--colors-stream-blue-700);
  }
  &.disabled {
    color: var(--colors-stream-blue-200);
  }
}
