.bar {
  background-color: var(--colors-grey-600);
  padding: var(--spacing-4);

  text-align: center;
}

.title {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary-bold);
  font-size: var(--font-size-6);
  line-height: var(--line-height-9);

  color: var(--colors-pure-white);
}

.header {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary-bold);
  font-size: var(--font-size-4);
  line-height: var(--line-height-6);

  color: var(--colors-pure-white);
}

.subBar {
  background-color: var(--colors-grey-100);
  padding: var(--spacing-3);

  text-align: center;
}

.alreadyHaveAccount {
  display: flex;

  justify-content: center;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);

  color: var(--colors-mono-500);
}

.signIn {
  margin-top: 1px;
  margin-left: var(--spacing-1);
}
