.root {
  position: relative;
}
.hr {
  position: absolute;
  border: 0;
  border-top: 1px solid var(--palette-divider);
  width: 100%;
  margin: 0;
}
.text {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-primary-semi-bold);
  font-family: var(--font-family-primary);
  line-height: var(--line-height-4);
  color: var(--colors-mono-500);

  position: relative;
  background-color: var(--colors-pure-white);
  padding: 0 var(--mini-unit);
}
