.container {
  width: 350px;
  background-color: var(--colors-grey-100);
  border: 1px solid var(--colors-grey-300);
  margin-top: 70px;
  box-sizing: border-box;
}

.textLink {
  font-weight: var(--font-weight-primary-semi-bold);
  font-family: var(--font-family-primary);
  color: var(--colors-teal-700);
  font-size: var(--font-size-2);
  line-height: var(--line-height-reset);
  text-decoration: underline;
}
