.root {
  background-color: #2b7eb5;
  color: white;
  padding: var(--v2-spacing-3);
  border-radius: 2px;
}

.text {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-4);
  color: var(--v2-common-white)
}

.closeButton {
  color: var(--v2-common-white)
}
