$moderateCardIconColor: var(--colors-mono-100);
$moderateCardInReplyToColor: var(--colors-mono-100);
$moderateCardInReplyToUsernameColor: var(--colors-mono-500);
$moderateCardUsernameBackgroundHover: var(--colors-grey-200);

.icon {
  color: $moderateCardIconColor;
}
.inReplyTo {
  color: $moderateCardInReplyToColor;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-2);
  line-height: var(--line-height-reset);
}
.username {
  color: $moderateCardInReplyToUsernameColor;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary-bold);
  font-size: var(--font-size-3);
  line-height: var(--line-height-reset);

  padding: var(--spacing-1);

  &:hover {
    background-color: $moderateCardUsernameBackgroundHover;
    border-radius: var(--round-corners);
    border-style: none;
  }

  &:active {
    background-color: $moderateCardUsernameBackgroundHover;
    border-radius: var(--round-corners);
    border-style: none;
  }
}

.usernameButton {
  vertical-align: baseline;

  margin-left: calc(-1 * var(--spacing-1));
}
