.container {
  width: 385px;
  background-color: var(--colors-grey-100);
  border: 1px solid var(--colors-grey-300);
  border-top: 0;
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
  box-sizing: border-box;

  text-align: center;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-primary-bold);
  font-family: var(--font-family-primary);
  line-height: var(--line-height-reset);
  color: var(--colors-mono-100);
}
