$commentsMessageBoxColor: var(--colors-pure-white);

.root {
  composes: root from "~coral-stream/shared/htmlContent.css";

  color: $commentsMessageBoxColor;
  font-weight: var(--font-weight-primary-semi-bold);
}
