.footer {
  text-align: center;
}

.loadMore {
  width: 100%;
  background-color: var(--v2-colors-pure-white);

  border-width: 1px;
  border-style: solid;
  border-color: var(--v2-palette-grey-lighter);
  border-radius: var(--v2-round-corners);

  margin-top: var(--spacing-1);
}
