.root {
  composes: root from "coral-stream/shared/htmlContent.css";
}

:global(.coral-spoiler) {
  background-color: blue;
  color: blue;
}

:global(.coral-spoiler-open) {
  color: black;
  background-color: white;
}
